body {
  font-family: 'Droid Sans', sans-serif;
}

.jumbotron {
  background-image: url('http://www.bestlibertypizza.com/wp-content/uploads/2014/04/pizza-with-olives1.jpg');
  background-repeat: no-repeat;
  height: 350px;
  background-size: cover;
  color: white;
  text-shadow: 0 1px 8px rgba(0, 0, 0, 0.6);
  margin-bottom: 0px;
}

.nav .container {
  padding: 10px;
}

.nav .orderNav {
  color: green;
}

.content {
  background-color: #f5f5f5;
  padding-bottom: 50px;
}

.thumbnail img {
  height: 200px;
}

.orderText {
  color: red;
}

.total {
  height: 50px;
  border: 1px solid black;
  background-color: white;
  padding-top: 7px;
  padding-right: 7px;
}

.total h3 {
  display: inline;
  margin-top: 5px;
  margin-left: 10px;
}
